# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.sqlite3
*.db
backend/data/uploads/*
backend/data/deliverables/*
!backend/data/.gitkeep

# Node / React
node_modules/
dist/
build/
.ds_store

# IDE
.vscode/
.idea/
